
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.dark-theme body
{
background-color: #191919;
color:#d7d2ca;
}

.dark-theme a, .dark-theme .nav-link, .dark-theme [data-button-role="theme-toggle"].btn
{
  color:#04e0cb;
}

.dark-theme .btn.btn-primary.bmd-btn-fab
{
background-color: #0ab1a1;
}

.btn.btn-primary:hover, .btn.btn-primary:focus
{
   background-color: transparent;
   border:none;
   border-color: transparent;
}

.horizontal_list_item
{
  display:inline-block;
}

.theme-toggle
{
  display: inline-block;
  position: relative;
  left: +30px;
  z-index: 1;
}

.card
{
   transition: transform 133ms ease-in-out;
}

.dark-theme .card
{
    background-color: #323136;
}

.card:hover
{
    transform: scale(1.1);
}

.container {
  max-width: 960px;
}

.img-thumbnail
{
  max-width: 40%;
  max-height: 40%;
  transition: transform 133ms ease-in-out;
}

.img-thumbnail:hover
{
  transform: scale(1.03);
}

.top-padded
{
  padding-top: 4rem;
}

.hidden-heart:hover
{
cursor: default;
text-decoration: none;
color:red;
}

.card-deck .card {
  min-width: 200px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
